@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(bg.jpg  ) ;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px 0;
    gap: 10px;
}.features{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    border-radius: 4px;
    margin-left: -100px;
    cursor: pointer;
    position: relative;
}
.language-btn{
    display: flex;
    align-items: center; 
    background: transparent;
    border: none;
    appearance: none;
    color: #fff;
    flex-direction: column;
   
    font-size: 15px;
    padding: 6px 39px ;
    width: 130px;
    height: 32px;
    text-align: center;
    position: relative;
    left: -2px;
    margin-right: 6px;
    background-size: cover;
}.language-btn option{
    color: #000;
    background: #fff;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px
}.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;

}
.features{
    padding: 50px 12%;
    font-size: 22px;

}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 500;
    font-size: 40px;
}
.accordoin{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
 li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
 li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;;
}
input[type="radio"]{
    display: none;
}
 .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
} 
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small{
    font-size: 13px;
}
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: underline;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;  
}
.footer row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language-btn{
    color: #fff;
    padding: 6px 32px;
    border-radius: 3px;
}


.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}.dropdown-container{
    border: 1px solid #aca8a8;
    padding:0px 1px;
    position: relative;
    left: 345px;
    width: 130px;
    border-radius: 6px;
    height: 34px;
    
    
}.img1{
    position: absolute;
    height: 16px;
    width: 22px;
    margin-left: 15px;
    top: 10px;
    padding-right: 8px;
    left: 2px;
}.language-btn1{
    display: flex;
    align-items: center; 
    background: transparent;
    border: none;
    appearance: none;
    color: #fff;
    flex-direction: column-reverse;
   
    font-size: 15px;
    padding: 5px 39px ;
    width: 130px;
    height: 30px;
    text-align: center;
    position: relative;
    left: -2px;
    margin-right: 6px;
    background-size: cover;
}.dropdown-container1{
    border: 1px solid #aca8a8;
    padding:2px 1px;
    position: relative;
    left: -3px;
    height: 35px;
    width: 130px;
    border-radius: 6px;
}.language-btn1 option{
    color: #000;
    background: #fff;
}.img2{
    position: absolute;
    height: 5px;
    top: 14px;
    left: 100px;
}.img3{
    position: absolute;
    height: 5px;
    top: 16px;
    left: 100px;
}.row{
    border-top: 8px rgb(69, 69, 69);
    padding: 50px;
}.img-col .video-1{
    position: absolute;
    margin-top: -270px;
    height: 185px;
    width: 1097px;
    left:440px;
    overflow: hidden;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;

}.img-col .video-2{
    position: absolute;
    margin-top: -305px;
    height: 160px;
    width: 1100px;
    left:440px;
    overflow: hidden;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;

}.img-col .img4{
    position: absolute;
    background: transparent;
    height: 50px;
    width: 50px;
    left:572px;
    top: 1530px;
}


@media only screen and (max-width: 600px){
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 10px;
    }
    nav .language-btn{
        padding:4px 8px;
        display: none;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .email-signup button{
        font-size: 12px;
        padding: 10px 15px;

    }
    .text-col,.img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }
    .row:nth-child(2),.row:nth-child(4){
        flex-direction: column-reverse;
    }
    .features .row{
        padding: 10px 0;
    }
    .faq h2{
        font-size: 20px;
    }
    .accordoin .content{
        font-size: 14px;
    }
    li label{
        padding:10px;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }
      .footer .row a{
       text-align: center;
        
     }
       
    }

